html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #161616;
    overflow: hidden;
    font-family: "Monument Extended";
}

.text {
    position: absolute;
    pointer-events: none;
    font-size: 6em;
    -webkit-text-stroke: 1.6px #fff;
    font-weight: 500;
    text-transform: uppercase;
    color: #161616;
}

.text span {
    color: #fff;
}
